*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*ajustes genereales*/
body{
    width: 100%!important;
    overflow-x: hidden!important;
}

.main-section{
    padding: 100px 150px;
    background-color:#dde5b6;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;


}
h1{
    color:#6c584c;
    font-family: 'EB Garamond', serif;
    font-size: 72px;
    letter-spacing: 50;
    text-align: center;
    
}
p{
    color: #786a76;
    font-family: 'Glook', serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
#image{
    position: relative;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    transition: transform 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#image:hover{
    transform: scale(1.2);
}
#bar-navigator{
    background-color: #dde5b6;
    color: #445a41;
    height: 80px;
    position:sticky;
    top: 0;
    z-index: 10;
    /*border-bottom: 2px var(--light-gray) solid;*/
    height: 80px;


}
#bar-navigator ul{
    
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    
}
#menu{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left:20px;
    font-size: 20px;
    cursor:pointer;
}
#menu:hover{
    cursor: pointer;
}
#collapsable{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-250px);
    transition-duration: 0.6s;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 250px;
    height: 100vh;
    background-color: #ADC178;
    color: #0c0c0c;
    /*background-image: url(/image/corados.svg);*/
    background-size: cover;
    width: 200px;
    height: 100vh;
    width: calc(10% + 6rem);
    border-right: 2px var(--light-gray) solid;
}

.menu{
    position: absolute;
    top: 15px;
    left: 0;
    align-self: center;
    z-index: 20;
}
#men{
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6C584C;

}
.show{
    visibility: visible!important;
    opacity: 1!important;
    transform: translateX(0)!important;
}
ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #020101;
    padding: 25px 0px;
    background-color: #dde5b6;
    border-radius: 20px;
    margin-bottom: 10px;
}
ul li a:hover{
    background-color: #DDE5B6;
    color: #3c3d34 ;
    
}
#logo{
    position: -webkit-sticky;
    top: 5px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    gap: 0px;
    left: 1250px;
    

}

.upper{

    height: 80px;
    border-bottom: 2px #9295aa;
    padding: 0px 215px;
    width: 215px;
}
.middle,
.lower {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lower {
    padding: 10px 20px;
}

.lower p {
    font-size: 100pt;
    font-style: italic;
}
.link{
    text-decoration: none;
    text-align: center;
    position: sticky;
    bottom: 100px;
    height: 50px;
    right: 75px;
    position: 30px;
    background-color: #A98467;
    padding: 10px 15px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    border-radius: 20px;
    color: #f2e9e4;
}
.WRAPPER{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.media{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;/*!important para q sea prioridad*/
}
/*comentario
navbar>i{
    position: absolute;
    left: 60px;
    font-size: 26pt;
    color: var(--dark-gray);*/




.link-text:link{
    color: #743e3e;

}

.link-text:visited{
    color: #221515;
}
.link-text:active{
    color: #c09d9d;
}
.link-text:hover{
    color:rgb(232, 177, 168)

}
#lista- li::marker{
    content: url(/image/iconmonstr-easter-19-240.svg);
}
#lista-{
    margin-left: 20px;
}

#abajo1{
    background-color: #dde5b6;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}
#abajotexto{
    flex-direction: row;


}
.abajochillon{
    gap: 300px;
}
#chillon{
    position: column;
    width: 200px;
    border-radius: 20px;
    margin-top: 50px;}
/*segunda pagina*/
.media1{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.info1{
    display: column;
    width: 90%;
    gap:30px;
}
.link1{
    text-decoration: none;
    text-align: center;
    position: sticky;
    bottom: 100px;
    height: 50px;
    right: 75px;
    position: 30px;
    background-color: #A98467; 
    padding: 10px 15px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    border-radius: 20px;
    color: #f2e9e4;
    display: flex;
}
#exp{
    position: relative;
    width: 300px;
    border-radius: 10px;
    margin-top: 300px;
    
    cursor: pointer;

}
/*tercer pagina*/
#rt{
    width: 300px;
    border-radius: 10px;
    margin-top: 5px;
}
.media1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    margin-right: 100px;
}
/*cuarta pagina*/
#marcasmalas,#marcasbuenas{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #786a76;
}
#free{
    width: 400px;
    border-radius: 50px;
    display: block;
}
/*Quinta pagina*/
#logito{
    width: 250px;
}
#insta,#feiss,#github{

    width: 150px;
}
#finalfinal{
    
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
/*es para celular*/
@media screen and (max-width: 900px){

}


@media screen and (max-width: 900px) {
    section.main-section{
        padding: 10px 30px;
        
    }
    div.WRAPPER{
        justify-content: space-between;
    }
    #body{
        text-overflow: initial;
    }
    
    h1#tito{
        font-size: 200%;
        text-align: left;
    }
    
    p{
        font-size: 150%;
    }
    #exp{
        width: 150%;
    }
    #bar-navigator ul{
        gap: 30px;
        justify-content: end;
        font-size: 90%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: none;
        color: #000000;
        border-radius: 20px;
        margin-bottom: 0px;
    }
    .main-section{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #link, #link1{
        text-decoration: none;
        text-align: center;
        position: sticky;
        bottom: 10px;
        height: 20px;
        right: 15px;
        position: 30px;
        background-color: #A98467; 
        padding: 10px 25px;
        font-size: 30px;
        font-family: 'Merriweather', serif;
        border-radius: 20px;
        color: #f2e9e4;
        display: flex;
    }
    div.media1#link,#link1{
        gap: 2000px;
        flex-wrap: wrap;
        justify-content:  space-around;
        align-content: end;
}
#logito{
    width: 150%;
}
#insta,#feiss,#github{
    flex-direction: column;
    width: 50%;}

img#chillon{
    margin-top: 830px;

}
}
@media screen and (max-width: 770px){
    .WRAPPER{
        justify-content:center;
        padding-left: 0px;
    }
    #body{
        text-overflow: initial;
    }
    
    h1#tito{
        font-size: 150%;
        text-align: justify;
    }
    p{
        font-size: 100%;
        text-align: justify;
    }
    div#media1{
        flex-direction: column-reverse;
    }
    img#exp{
        width: 100%;

    }
    #bar-navigator ul{
        gap: 30px;
        justify-content: end;
        font-size: 60%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: none;
        color: #000000;
        border-radius: 20px;
        margin-bottom: 0px;
    }
    .main-section{
        display: block;
        flex-direction: row;
        justify-content: flex-start;
    }
    #finalfinal{
    
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;}
    div.media1{
        gap: 3000px;
        flex-wrap: wrap;
        justify-content:  space-around;
        align-content: end;
    }
    div.media1#link,#link1{
        gap: 20px;
        flex-wrap: wrap;
        justify-content:  space-around;
        align-content: end;
}
    .link, .link1{
        text-decoration: none;
        text-align: center;
        position: sticky;
        bottom: 50%;
        height: 20px;
        right: 15px;
        position: 30px;
        background-color: #A98467; 
        padding: 0px 25px;
        font-size: 100%;
        font-family: 'Merriweather', serif;
        border-radius: 30;
        color: #f2e9e4;
        display: flex;
    }
    #logito{
        width: 150%;
    }
    #insta,#feiss,#github{
        flex-direction: column;
        width: 50%;
}
}